@font-face {
    font-family: "Brunson";
    src: url("fonts/Brunson.ttf") format("TrueType");
}

body {
  background-color: #0d1117;
  color: #f0f6fc;
  font-family: 'Segoe UI', sans-serif;
}

.fw-bold{
    font-family: "Brunson";
    letter-spacing: 3px;
    font-style: italic;
    font-size: 100px;
}

#chat-box {
  max-height: 60vh;
  background-color: #161b22;
  scroll-behavior: smooth;
}

.chat-bubble {
  padding: 10px 15px;
  border-radius: 1rem;
  max-width: 75%;
  word-wrap: break-word;
}

.chat-bubble.user {
  background-color: #238636;
  color: white;
  align-self: flex-end;
}

.chat-bubble.bot {
  background-color: #2d333b;
  color: #f0f6fc;
  align-self: flex-start;
}