@font-face {
    font-family: "Brunson";
    src: url("fonts/Brunson.ttf") format("TrueType");
}

body{
    background-color: rgb(20, 19, 19);
}

.h1{
    font-family: "Brunson";
    letter-spacing: 3px;
    color: rgb(247, 247, 232);
    text-align: center;
    font-size: 110px;
    font-style: italic;
}

.mb-3{
    width: 50%;
    justify-self: center;
}
