@font-face {
    font-family: "Brunson";
    src: url("fonts/Brunson.ttf") format("TrueType");
}

body{
    background-color: rgb(20, 19, 19);
    justify-content: end;
}

.h1{
    font-family: "Brunson";
    letter-spacing: 3px;
    color: rgb(247, 247, 232);
    text-align: center;
    font-size: 110px;
    font-style: italic;
}

.mb-3{
    width: 50%;
    justify-self: center;
}
.form-control{
    background-color: rgb(46, 44, 44);
    color: aliceblue;
}
.form-control:focus {
    background-color: rgb(46, 44, 44); /* stays black when focused */
    color: aliceblue;
}